* {
    box-sizing: border-box;
    text-align: center;
  }

  body{

  }
 
 
  header{
      padding: 20px;
      margin-bottom: 15px;
      height: 80px;
      text-align: center;
      border-color: #ffffff;
      box-sizing: content-box;
  }

  .top {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    width: 200px;
    text-align: center;
    background-color: teal;
    color: #ffffff;
  }

  img {
      width: 15%;
      height: 15%;
  }